server {
    listen 443 ssl;
    ssl_certificate {{ ssl_certificate_path }};  
    ssl_certificate_key {{ ssl_key_path }};  

    # Strong SSL settings 
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers 'ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES128-GCM-SHA256';
    ssl_prefer_server_ciphers on;

    location / {
        root /var/www/html;  # Ensure this points to your web root directory
        index index.html;
    }
}
